<div class="col-lg-12">

    {{#if name}}
        <h1 class="page-header">
            {{name}}
            <small>
                 chromosome {{chromosome}} (start: {{start}}, end: {{end}})
            </small>
        </h1>
        <div style="width: 900px;" id="{{feature_viewer}}"></div>

        <ul class="nav nav-pills">
          <li class="active">
            <a href="/#/browser/{{chromosome}}:{{start}}-{{end}}">Explore region in browser</a>
          </li>
        </ul>
    {{/if}}

    {{#if error}}
        <div style="height:55%">
            <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                {{error}}
            </div>
        </div>
    {{/if}}
    <hr>
</div>
